/* mixins */
.width(@num){
	width: @num*1%;
}
/* reset css */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
}
/* layout */
.l-topremovable,.l-topnav,.l-banner,.l-featured-product,.l-workplace,.l-maincontent,.l-footer{
  margin: 0 auto;
}

/* typography */
body{
	background-color: white;
}
html,body{
	width: 100%;
	height: 100%;
}
.wrapper{
	margin: 0 auto;
	width: 100%; /* 1414/1616px; */
}
.l-topremovable{
	height: 36px;
	.width(87.7)
}
.l-topnav{
	height: 90px;
	.width(87.5);
}
.l-banner{
	height: 460px;
	.width(100);
}
.l-featured-product{
	height: 277px;
	.width(87.7);
}
.l-workplace{
	height: 242px;
	.width(100)
}
.l-maincontent{
	// height: 1382px; /*+172px bottom*/
	.width(87.7)
}
.l-footer{
	height: 262px;
	.width(100)
}
/* .l-topremovable */
.l-topremovable{
	padding: 1em 0;
	font-size: 12px;
	font-family: '微软雅黑',sans-serif;
	.title{
		float: left;
		font-weight: normal;
		color: #333333;
	}
	a{
		text-decoration: none;
		font-weight: normal;
		color: #21a557;
	}
	.dismiss{
		float: right;
		em{
			font-style: normal;
			margin-right: 6px;
		}
	}
}
/* l-topnav */
.l-topnav{
	margin: 36px auto;
	img{
		float: left;
		margin-right: 30px;
	}
	.followus{
		display: inline-block;
		font-family: "宋体",sans-serif;
		font-weight: normal;
		font-size: 12px;
		line-height: 21px;
		a{
			padding-top: 4px;
			padding-bottom: 4px;
			padding-left: 21px;
			padding-right: 18px;
			margin-right: 14px;
			border-radius: 2px;
			background-color: #21a557;
			color: white;
			&:before{
				content: '+';
				font-weight: bold;
				margin-right: 5px;
			}
			&:after{
				content: 'i';
				margin-left: 2px;
			}
		}
		.followernum{
			em{
				margin-left: 7px;
				font-style: normal;
			}
		}
	}
	.m-navmenu{
		float: right;
		li{
			display: inline-block;
		}
	}
}
